<app-navbar></app-navbar>

<div class="row">
    <div class="col-sm-12 col-md-2 col-xl-2">
        <p>aaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div class="col-sm-12 col-md-10 col-xl-10">
        <p>asdaaaadaaaaaaaaa</p>
        <hr>
        <p>Joined: xxxx.xx.xx</p>
        <p>Added: X amount of Recipes</p>

        <div id="logout-delete">
            <input type="button" value="Log Out!">
            <input type="button" value="Delete Account">
        </div>
    </div>
</div>

<div class="row"> 
    <!--TODO Change width and give arrows, steal from bootstrap copy it and make it into Favorites one as well --->
    <p>Added (X)</p>
    <hr>
    <div class="col-sm-12 col-md-5 col-xl-5">
        <p>llllllllllllll</p>
    </div>
    <div class="col-sm-12 col-md-7 col-xl-7">
        <p>sodifndddddddddddddddddddddddd</p>
    </div>
</div>
<div id="favorites">

</div>