<app-navbar></app-navbar>

<div class="row">
  <div class="col-sm-12 col-md-2 col-xl-2">
    <img src="{{'data:image/jpg;base64,' + user.image}}" alt="">
  </div>
  <div class="col-sm-12 col-md-10 col-xl-10">
    <p>{{ user.username || "User" }}</p>
    <hr />
    <p>Joined: {{ user.createdAt || "You never joined" }}</p>
    <p>
      Added: {{ user.postedFood + " amount of Recipes" || "You never posted" }}
    </p>

    <div id="logout-delete">
      <input type="button" (click)="logout()" value="Log Out!" />
      <input type="button" value="Delete Account" />
    </div>
  </div>
</div>

<div class="row" id="added">
  <!--TODO Change width and give arrows, steal from bootstrap copy it and make it into Favorites one as well --->
  <p>Added ({{ user.postedFood || 0 }})</p>
  <hr />
  @for (item of userAdded; track item) {

  <div class="col-sm-12 col-md-5 col-xl-5">
    <p>{{item.name || "No Food Name Found"}}</p>
  </div>
  <div class="col-sm-12 col-md-7 col-xl-7">
    <img src="{{item.image}}" alt="No Food Image Found">
  </div>
  }
</div>

<div class="row" id="favorites">
    <p>Favorite ({{ user.favoriteFood || "we do not know" }})</p>
    <hr />
    @for (item of userFavorites; track item) {
  
    <div class="col-sm-12 col-md-5 col-xl-5">
      <p>{{item.name || "No Food Name Found"}}</p>
    </div>
    <div class="col-sm-12 col-md-7 col-xl-7">
      <img src="{{item.image}}" alt="No Food Image Found">
    </div>
    }
</div>
