#logout-delete input[type="button"]{
    border: 1px solid red; /* Green color */
    color: red;
    padding: 5px 60px;
    border-radius: 5px;
    cursor: pointer;
}
#logout-delete input[type="button"]:hover{
    background-color: red;
    color: white;
    
}

img{
    max-width: 30rem;
    max-height: 20rem;
    position: relative;
}