<app-navbar></app-navbar>
<!-- Difficulty Filter -->

<div class="row">
  <div class="col-md-2">
    <div id="difficulty">
      <label
        (click)="(isDropdownOpen)"
        (click)="difficulty()"
        class="dropdown-header"
      >
        Difficulty Level
        <span [ngClass]="isDropdownOpen ? 'arrow-up' : 'arrow-down'"></span>
      </label>
      <div *ngIf="isDropdownOpen" class="dropdown-menu">
        <div *ngFor="let difficulty of difficulties">
          <input
            type="checkbox"
            [id]="difficulty.name"
            [name]="difficulty.name"
            [(ngModel)]="selectedDifficulties[difficulty.name]"
            (click)="toggleSelection('difficulty', difficulty.name)"
          />
          <label [for]="difficulty.name">{{ difficulty.name }}</label>
        </div>
      </div>
      <hr />
    </div>

    <!-- Meal Type Filter -->
    <div id="mealType">
      <label
        (click)="(isDropdownOpen2)"
        (click)="mealType()"
        class="dropdown-header"
      >
        All Meal Type
        <span [ngClass]="isDropdownOpen2 ? 'arrow-up' : 'arrow-down'"></span>
      </label>
      <div *ngIf="isDropdownOpen2" class="dropdown-menu">
        <div *ngFor="let mealtype of mealTypes">
          <input
            type="checkbox"
            [id]="'mealtype-' + mealtype.type"
            [value]="mealtype.type"
            [(ngModel)]="selectedMealTypes[mealtype.type]"
            (click)="toggleSelection('mealType', mealtype.type)"
          />
          <label [for]="'mealtype-' + mealtype.type">{{ mealtype.type }}</label>
        </div>
      </div>
      <hr />
    </div>

    <!-- Cuisine Filter -->
    <div id="cuisines">
      <label
        (click)="(isDropdownOpen3)"
        (click)="cuisine()"
        class="dropdown-header"
      >
        Cuisines
        <span [ngClass]="isDropdownOpen3 ? 'arrow-up' : 'arrow-down'"></span>
      </label>
      <div *ngIf="isDropdownOpen3" class="dropdown-menu">
        <div *ngFor="let cuisine of cuisines">
          <input
            type="checkbox"
            [id]="'cuisine-' + cuisine.type"
            [value]="cuisine.type"
            [(ngModel)]="selectedCuisines[cuisine.type]"
            (click)="toggleSelection('cuisine', cuisine.type)"
          />
          <label [for]="'cuisine-' + cuisine.type">{{ cuisine.type }}</label>
        </div>
      </div>
      <hr />
    </div>

    <!-- Dietary Filter -->
    <div id="dietary">
      <label
        (click)="(isDropdownOpen4)"
        (click)="dietary()"
        class="dropdown-header"
      >
        Dietary
        <span [ngClass]="isDropdownOpen4 ? 'arrow-up' : 'arrow-down'"></span>
      </label>
      <div *ngIf="isDropdownOpen4" class="dropdown-menu">
        <div *ngFor="let diet of dietarys">
          <input
            type="checkbox"
            [id]="'diet-' + diet.type"
            [value]="diet.type"
            [(ngModel)]="selectedDietarys[diet.type]"
            (click)="toggleSelection('dietary', diet.type)"
          />
          <label [for]="'diet-' + diet.type">{{ diet.type }}</label>
        </div>
      </div>
      <hr />
    </div>
    <!-- Clear Filters Button (Only shows when filters are active) -->
    <button
      *ngIf="isFilterActive"
      (click)="clearFilters()"
      class="btn btn-secondary"
    >
      Clear Filters
    </button>
  </div>

  <div class="col-md-10">
    <div *ngFor="let item of filteredFood">
      <div class="card" style="width: 18rem">
        <img src="" class="card-img-top" alt="{{ item.name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <a href="#" class="btn btn-primary">Go to item page</a>
        </div>
      </div>
    </div>
  </div>
</div>
