html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.carousel-indicators button[aria-current="true"]{
  background-color: #fd0dc5 !important; /* BluePurple */
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px #000;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}