c-carousel{
    color: aqua;
    z-index: 100000;
    max-width: 480px;
}

c-carousel-caption{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    color: black;
}

c-carousel img{
    max-width: 30rem;
    max-height: 20rem;
    position: relative;
}

c-carousel{
    border-radius: 6px;

}